@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Kanit:wght@400;500;600&family=Source+Sans+Pro:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Kanit:wght@400;500;600&family=Source+Sans+Pro:wght@300;400;600&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  color: #7835b2;
  margin: 0; }

#appHeading,
#timerHeading {
  text-align: center; }

h2 {
  font-size: 5rem;
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  text-align: center; }

p {
  margin: 0; }

.timeError,
.exerciseError {
  color: red; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  color: #7835b2;
  margin: 0; }

#appHeading,
#timerHeading {
  text-align: center; }

h2 {
  font-size: 5rem;
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  text-align: center; }

p {
  margin: 0; }

.timeError,
.exerciseError {
  color: red; }

button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 0.5rem 0.75rem;
  background-color: #6030f0;
  border-radius: 0.25rem;
  border: #6030f0 solid 1px; }

.secondaryBtn {
  background-color: #fff;
  color: #6030f0;
  border: #6030f0 solid 1px;
  padding: 0.25rem 0.5rem; }

input {
  box-sizing: border-box;
  padding: 0.5rem 0.25rem;
  border-radius: 0.25rem;
  border: #7835b2 solid 1px;
  text-align: center; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield; }

#exercises {
  text-align: left;
  width: 100%; }

#activeTime,
#restTime {
  width: 3rem; }

.exerciseListWrapper {
  margin-top: 1.5rem; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul li {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  ul button {
    align-self: flex-start; }
  ul p {
    margin: 0.125rem 0.5rem 0 0; }

ul > *:not(:last-child) {
  border-bottom: #7835b2 solid 1px;
  padding-bottom: 1rem; }

.hidden {
  display: none !important; }

.visible {
  display: block; }

html,
body {
  height: 100%; }

body {
  margin: 0 1.5rem 0 1.5rem; }

header {
  padding: 4rem 0 3rem 0; }

main {
  display: flex;
  flex-direction: column;
  align-items: center; }
  main > *:not(:first-child) {
    margin-top: 3rem; }

footer {
  background-color: #fff2fc;
  width: 100%;
  text-align: center;
  padding: 2rem;
  margin-top: auto !important; }

section {
  width: 100%;
  max-width: 412px; }

#timerSetup > *:not(:first-child) {
  margin-top: 1rem; }

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: start; }
  .inputWrapper > * {
    margin-top: 0.5rem; }

#addExerciseBtn {
  margin-top: 1rem; }

#timerControls {
  display: flex;
  justify-content: start; }
  #timerControls > button:not(:last-child) {
    margin-right: 0.5rem; }

.exerciseInfoContainer {
  display: flex; }

.dot {
  height: 24px;
  width: 24px;
  background-color: #bbb;
  margin-right: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0; }
