.exerciseListWrapper {
  margin-top: 1.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  button {
    align-self: flex-start;
  }
  p {
    margin: 0.125rem 0.5rem 0 0;
  }
}
ul > *:not(:last-child) {
  border-bottom: $primary-color solid 1px;
  padding-bottom: 1rem;
}
